.work {
    width: 100%;
    margin: auto;
    margin-top: 5px;
    border: 3px solid limegreen;
    border-radius: 10px;
    border-collapse: collapse;
    cursor: pointer;
}

td {
    border: 1px dotted green;
}

.workImage {
    width: 30%;
}

.workImg {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

.workTitle {
    font-size: 1.2em;
    color: limegreen;
}

.workDescription {
    font-size: 1em;
    color: black;
}

.workLink {
    font-size: 0.8em;
}

@media screen and (min-width: 430px) {
    #main {
        width: 40%;
        margin: auto;
        margin-top: 5px;
    }
}

/* スマホ用 */
@media screen and (max-width: 430px) {
    #main {
        width: 95%;
        margin: auto;
        margin-top: 5px;
    }
}