---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/about.css';
---

<BaseLayout
pageTitle="サイト説明 | るいんの遺跡（奏色瑠音）"
description="このサイトはゲーム制作者兼CG制作者の奏色瑠音のホームページです。このページではこのサイトの説明と管理人のあいさつを公開しています。"
>
    <h1>このサイトについて</h1>
    <p id="mainParagraph">
        このサイトは奏色瑠音（かないろるいん）のホームページです．<br>
        CG作ったりそれ使ってゲーム作ったりします．<br>
        作ったものを適当にアップしたりブログ書いたりしていくと思います．<br>
        恐らくは東方の二次創作ゲームの話ばかりになるかと思います．<br>
        イベントとかにも行きたいなって思うので行った時には来てくれると嬉しいです．<br>
        多分所属サークルのところで何かやってます．<br>
        何か御用の方はCONTACTを押したらGoogleForm開くので使ってください．<br>
        それではゆっくり見ていってね！</p>
</BaseLayout>